body {
    background-image: url(IMG/tausta.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 50px;
}


h1 {
    color: #2a883a;
    margin: 50px;
    padding: 2%;
}


h2 {
    font-size: 15px;
    color: aliceblue;
}


#soundButtons {
    position: fixed;
    top: 1;
    width: 5%;
    text-align: center;
}

#soundButtons button { 
    padding: 10px 20px; 
    font-size: 20px; 
    cursor: pointer;
    border: 5px solid rgba(1, 20, 5, 0.486);
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    color: #2a883a;
    margin: 30%;
    font-weight: bold;    
}


#leijona-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#leijona {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(1, 20, 5, 0.486);
    cursor: pointer;
    transition: transform 0.3s ease;  
    margin: 4% 
}


#leijona.jump {
    transform: translateY(-20px);
}


#score {
    font-weight: bold;
    font-size: 24px;
    color: #2a883a; 
}